

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("https://i.pinimg.com/1200x/19/c2/59/19c25988b4ac708768cc9779d10af31d.jpg");
    background-size: cover;
    overflow: auto;
    height: 100vh;
    position: relative;
    cursor: pointer; /* Indicate clickable viewport */
}

#clickText {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #838383;
    font-weight: bold;
    z-index: 500;
    pointer-events: none; /* Prevent text from blocking clicks */
}
#clickQoute {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 60px;
    color: #ffdf76;
    font-weight: bold;
    z-index: 500;
    pointer-events: none; /* Prevent text from blocking clicks */
}

#imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    position: absolute;
    max-width: 150px;
    max-height: 150px;
    cursor: move; /* Indicates draggable */
    border: 2px solid transparent;
    transition: border 0.3s, transform 0.2s;
    user-select: none; /* Prevent text selection during drag */
}

.image:hover {
    transform: scale(1.05);
}